<!-- Head -->
<%- include('partials/head')%>

    <body>
       <!-- Header -->
        <%- include('partials/header')%>

        <!-- Navbar -->
        <%- include('partials/navbar')%>

        <div class="container">
            <div class="row">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Contact</li>
                    </ol>
                    <h2>Contact Us</h2>
                    <hr />
                </div>
            </div>

            <div class="row row-content align-items-center">
                <div class="col-lg-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Our Address</h5>
                            <address class="card-text">
                                1 Nucamp Way<br />
                                Seattle, WA 98001<br />
                                U.S.A.
                            </address>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title">Contact</h5>
                            <p class="card-text">
                                <a role="button" class="btn btn-link" href="tel:+12065551234"><i class="fa fa-phone"></i> 1-206-555-1234</a><br />
                                <a role="button" class="btn btn-link" href="mailto:campsites@nucamp.co"><i class="fa fa-envelope-o"></i> campsites@nucamp.co</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d343529.0705630472!2d-122.30178331895348!3d47.72672579825537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906d189687c09d%3A0xe86c3ff96948a99f!2sNucamp%20Coding%20Bootcamp%20Bellevue!5e0!3m2!1sen!2scz!4v1676464868962!5m2!1sen!2scz" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>    
            </div>
            
            

            <div class="row row-content">
                <div class="col-12">
                    <h2>Send us your Feedback</h2>
                    <hr />
                </div>
                <div class="col-md-10">
                    <form>
                    <div class="form-group row">
                        <label for="firstName" class="col-md-2 col-form-label">First Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-md-2 col-form-label">Last Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="areaCode" class="col-md-2 col-form-label">Contact Tel.</label>
                        <div class="col-5 col-md-3">
                            <input type="tel" class="form-control" id="areaCode" name="areaCode" placeholder="Area code" />
                        </div>
                        <div class="col-7">
                            <input type="tel" class="form-control" name="telNum" placeholder="Tel. number" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col offset-md-2">
                            May we contact you?
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="contactYes" name="contactRadios" value="yes" />
                                <label for="contactYes" class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="contactNo" name="contactRadios" value="no" />
                                <label for="contactNo" class="form-check-label">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="feedback" class="col-md-2 col-form-label">Your Feedback</label>
                        <div class="col-md-10">
                            <textarea class="form-control" id="feedback" name="feedback" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-md-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Send Feedback</button>
                        </div>
                    </div>
                </form>
                </form>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include('partials/footer')%>
    </body>
</html>
